<ion-grid class="interface-area">
  <ion-row>
    <ion-col class="interface-column threat-table">
      Threat table
    </ion-col>
    <ion-col class="interface-column spells-table">

      <!--<ng-container *ngFor="let spell of currentCharacter.spells;let i = index;">
        <ion-button color="primary">{{spell.name}}</ion-button>
      </ng-container>-->

    </ion-col>
    <ion-col class="interface-column priority-table">
      <ng-container *ngFor="let combatant of combatPriorityList; let j = index;">
        <div>{{j+1}}. {{combatant.name}}</div>
      </ng-container>
    </ion-col>
  </ion-row>
</ion-grid>